
<%= link_to "Supprimer", comment_path(comment), method: :delete,
      data: { turbo_confirm: "Es-tu sûr de vouloir supprimer ce commentaire ?" },
      class: "btn btn-sm btn-outline-danger" %>
<% unless comment.reported? %>
  <%= link_to "Signaler", report_comment_path(comment), method: :patch, class: "btn btn-sm btn-outline-danger", data: { turbo_method: :patch, turbo_confirm: "Signaler ce commentaire comme inapproprié ?" } %>
<% else %>
  <span class="badge bg-warning text-dark">Signalé</span>
<% end %>
