<% content_for :title, "À propos de Readnest" %>

<div class="container py-5 mt-5">
  <h1 class="text-center fw-bold mb-4" style="color: #5e4636;">À propos de Readnest</h1>


<div class="text-center">
    <%= image_tag "about.jpg", alt: "À propos de Readnest", class: "img-fluid rounded shadow-sm", style: "max-height: 300px;" %>
  </div>

  <p class="lead text-center mb-4">
    Readnest est une plateforme dédiée aux amoureux des livres.
    Écrivez, partagez et explorez des chroniques littéraires venues de toute la communauté.
  </p>

  <div class="mt-5">
    <p>
      Notre mission est de créer un espace où les lecteurs passionnés et les maisons d’édition peuvent se retrouver pour partager leurs coups de cœur, leurs critiques, et faire vivre la littérature sous toutes ses formes.
    </p>
    <p>
      Que vous soyez un lecteur assidu ou une maison d’édition, Readnest vous donne la possibilité de publier vos chroniques, de découvrir de nouveaux ouvrages, et de faire rayonner votre passion.
    </p>
  </div>
</div>
