@import "bootstrap";
@import "application.bootstrap";

body {
  background-color: var(--secondary);
  color: var(--text-dark);
  font-family: 'Georgia', serif;
}

// TITRES
h1, h2, h3, h4 {
  color: var(--primary);
  font-weight: 700;
  text-transform: capitalize;
}
a:hover,


// CARDS
.card {
  background-color: var(--text-light);
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.card-title {
  color: var(--primary);
  font-weight: 600;
}

.card-text {
  color: var(--text-dark);
}

// FOOTER
footer {
  background-color: var(--accent);
  color: var(--text-dark);
  font-size: 0.9rem;
}

// MAP
#map {
  border-radius: 0.5rem;
  border: 2px solid var(--accent);
}

.btn-like {
  border: 1px solid #a27c5c;
  background-color: white;
  color: #a27c5c;
  border-radius: 30px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #a27c5c;
    color: white;
  }

  &.liked {
    background-color: #a27c5c;
    color: white;
    font-weight: bold;
  }
}

.chronicle-card {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.chronicle-card:hover {
  transform: translateY(-4px);
}

.custom-nav-link {
  color: black !important;
  text-decoration: none;
  transition: all 0.2s ease;
}

.custom-nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  color: black !important;
  background-color: transparent !important;
}

.autocomplete-suggestions {
  max-height: 220px;
  overflow-y: auto;
}

.autocomplete-suggestions .suggestion-item:hover {
  background-color: #f8f9fa;
}
