<% content_for :title, "Ajouter une maison d’édition" %>

<div class="container py-5 mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="fw-bold text-primary mb-4">➕ Nouvelle maison d’édition</h1>

      <%= render 'form', publishing_house: @publishing_house %>

      <%= link_to "⬅️ Retour à la liste", publishing_houses_path, class: "btn btn-link mt-3" %>
    </div>
  </div>
</div>
